div.separable {
    border-bottom: 1px solid black;
}

div.separable button {
    /* background-color: #fafafa; */
    color: black;
    border: 1px solid #ccc;
    padding: 4px 6px;
    display: inline-block;
    margin: 0.25em;
    cursor: pointer;
    border-radius: 2px;
}
/* div.separable button:hover {
    background-color: #ddd;
} */
.activeButton {
    background-color: #ddd;
}
